beautifulsoup4==4.9.3
chardet==4.0.0
click==7.1.2
colorama==0.4.4
docutils==0.16
feedparser==6.0.2
html2text==2020.1.16
html5lib==1.1
lxml==4.6.2
nltk==3.5
numpy==1.19.5
openpyxl==3.0.5
pandas==1.2.0
pyarrow==2.0.0
python-dateutil==2.8.1
python-dotenv==0.15.0
regex==2020.11.13
requests==2.25.1
textblob==0.15.3
toml==0.10.2
tqdm==4.59.0
xlrd==2.0.1
