[
 {rabbit,
  [
    {'loopback_users', []},
    {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
        {default_vhost, <<"/">>},
        {default_user, <<"sec">>},
        {default_pass, <<"data">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
  ]
 },
 { kernel, []},
 { rabbitmq_management,
      [
      {'load_definitions', '/etc/rabbitmq/definitions.json'}
        %% {listener, [{port, 15672}]}
         ]
         },
 }
 ].
