apiVersion: 1

datasources:
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    isDefault: false
    version: 1
    editable: true
    jsonData:
      timeField: '@timestamp'
      esVersion: '8.0.0'
      logMessageField: 'message'
      logLevelField: 'level'
      maxConcurrentShardRequests: 5
      includeFrozen: false
    database: 'spine-logs*'
