beautifulsoup4
cffi==1.11.5
chardet
click==6.7
feedparser
lxml
numpy
pandas
pytest==3.6.2
pytest-runner==4.2
python-dateutil==2.7.3
python-dotenv==0.8.2
requests
requests[socks]
six==1.11.0
urllib3
xlrd
