asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
autoflake==1.2
autopep8==1.3.5
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.2.2
elasticsearch==6.3.0
et-xmlfile==1.0.1
fastparquet==0.1.5
feedparser==5.2.1
flake8==3.5.0
html5lib==1.0.1
idna==2.7
jdcal==1.4
llvmlite==0.24.0
lxml==4.2.3
mccabe==0.6.1
mkl-fft==1.0.3
mkl-random==1.0.1
more-itertools==4.2.0
numba==0.39.0
numpy==1.14.5
olefile==0.45.1
openpyxl==2.5.4
pandas==0.23.3
Pillow==4.1.1
pluggy==0.6.0
py==1.5.4
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pyOpenSSL==18.0.0
PySocks==1.6.8
pytest==3.6.3
pytest-runner==4.2
python-dateutil==2.7.3
python-dotenv==0.8.2
pytz==2018.5
requests==2.14.2
six==1.11.0
SQLAlchemy==1.1.9
thrift==0.11.0
urllib3==1.23
webencodings==0.5.1
win-inet-pton==1.0.1
wincertstore==0.2
xlrd==1.0.0
XlsxWriter==0.9.6
